<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.liking">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LikingApplication"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/main_theme">
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model_view_controller.super_hero_info.SuperHeroInfoActivity" />
        <activity android:name=".model_view_controller.super_hero.SuperHeroActivity" />
        <activity android:name=".model_view_controller.people.PeopleActivity" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".model_view_controller.list_super_hero.ListSuperHeroActivity" />
        <activity
            android:name=".model_view_controller.registry_user.RegistryUserActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".model_view_controller.auth_social_media_email.AuthSocialMediaEmailActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".model_view_controller.main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>

        <provider
            android:name="br.com.integrati.sprinkles_inti_library.DatabaseContentProvider"
            android:authorities="br.com.redetendencia.pdvmobile.pdv.PROVIDER_AUTHORITY"
            android:exported="false" />
    </application>

</manifest>